<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xit.mapper.FriendMapper">

	<resultMap type="com.xit.entity.FriendEntity" id="friendList">
		<id column="friendWeChatId" property="friendWeChatId" />
		<result column="remarks" property="remarks"/>
		<result column="source" property="source"/>
		<result column="source" property="source"/>
		<result column="descript" property="descript"/>
		<result column="addTime" property="addTime"/>
	</resultMap>
	<select id="findFriendList" resultType="com.xit.entity.FriendEntity">
		<!-- select * from friendList,wechatUser where wechatuser.weChatId = #{weChatId} AND friendlist.friendWeChatId != #{weChatId} AND friendlist.weChatId = #{weChatId} -->
		
		select * from friendList,wechatUser where friendlist.friendWeChatId != #{weChatId} AND friendlist.weChatId = #{weChatId} AND wechatUser.weChatId = friendlist.friendWeChatId ORDER BY wechatUser.weChatId  
		
	</select>
	
	<select id="addFriend">
		insert into friendList(wechatID,friendWeChatId,remarks,friend) VALUES(#{weChatId}, #{friendWeChatId},#{friendWeChatId},"friend")
	</select>
	
	<select id="deleteFriend">
		DELETE from friendlist where wechatId = #{weChatId} and friendWeChatId = #{friendWeChatId}
	</select>
	
	<select id="queryFriend" resultType="com.xit.entity.FriendEntity">
		select * from friendlist where wechatId = #{weChatId} and friendWeChatId = #{friendWeChatId}
	</select>
	
	<!-- 拉黑好友 -->
	<select id="modifyFriend">
		UPDATE friendlist SET friend = #{friendState} where weChatId = #{weChatId} and friendWeChatId = #{friendWeChatId}
	</select>
	
	<!-- 修改好友备注  -->
	<update id="modifyRemarks">
		update friendlist SET remarks = #{remarks} where weChatId = #{weChatId} and friendWeChatId = #{friendWeChatId}
	</update>
	
	
</mapper>